body{
    width:100%;
    height:100%;
    max-width: 100%;
}
h2{
    color:#3275a8;
}
h3{
    font-style:italic;
}
#container{
    max-width: 100%;
    margin-right:20%;
    text-align: left;
}
#front-page-section{
    width:700px;

}
#images-block{
    display:flexbox;
}
#intro-image{
    width:300px;
    max-width: 100%;
}

.bolded{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
table{
    width:100%;
}
th{
    text-align: center;
}
table, th, td {
    border:1px solid black;
    border-collapse:collapse;   
  }
#list-of-reviews{
    margin-left:3%;
}